<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-googlewallet" version="1.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>GoogleWalletPlugin</name>
	<js-module name="GoogleWalletPlugin" src="www/googlewalletplugin.js">
		<clobbers target="cordova.plugins.googlewallet" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="GoogleWalletPlugin">
				<param name="android-package" value="com.outsystems.experts.googlewallet.GoogleWalletPlugin" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/GoogleWalletPlugin.java" target-dir="src/com/outsystems/experts/googlewallet" />
		<framework src="src/android/googlewalletplugin.gradle" custom="true" type="gradleReference" />
	</platform>
</plugin>